/* You can add global styles to this file, and also import other style files */
html{
--mat-sidenav-content-background-color : #c2c8ff;
--mat-table-background-color : #d8dcff;
--mat-table-header-headline-color : #4a4a4a;
--mat-table-row-item-outline-color : rgba(34, 32, 32, 0.822);
--mat-table-row-item-label-text-color: #4a4a4a;
--mdc-filled-text-field-container-color: #4a4a4a;
--bs-body-bg:#c2c8ff!important;

--mat-sidenav-container-background-color : #d8dcff;
--mat-sidenav-container-text-color : #4a4a4a!important;


}
.mat-mdc-button.mat-primary {
    --mat-mdc-button-persistent-ripple-color: #3a70c2!important;
    --mdc-text-button-label-text-color :  #3a70c2!important;
}
.mat-drawer {
    color:#4a4a4a!important;
}

.mdc-button{
    border : 1px solid var(--bs-btn-border-color);
    border-radius: 0.375rem;
}

.mdc-list-item__primary-text{
--mdc-list-list-item-label-text-color : #4a4a4a;
}
.mat-mdc-card {
    --mdc-elevated-card-container-color: #3a70c239!important;
}